html {
    width: 100%;
    height: 100%;
    background: #4b6cb7;
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

h1 {
    margin: 1.5em auto 1.5em auto;
    width: 20em;
    text-align: center;
    font-size: 4em;
}

.numero_counting_wrapper {
    background-color: #4b6cb7;
    margin: 0 auto 0 auto;
    width: 300px;
    height: 300px;
}

.numero_shape {
    position: relative;
    background-color: #ffffff;
    margin: 0 auto 0 auto;
    width: 40%;
    height: 60%;
    border-radius: 30px 30px 30px 30px;
}

.numero_shape:before {
    content: " ";
    position: absolute;
    top: 16.6666667%;
    left: 25%;
    background-color: #4b6cb7;
    width: 50%;
    height: 33.3333334%;
    -webkit-animation-name: contagem1;
    -webkit-animation-duration: 5s;
    -webkit-animation-timing-function: ease-in-out;
    -webkit-animation-delay: 0;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-direction: normal;
    -webkit-animation-play-state: running;
    -webkit-animation-fill-mode: forwards;
    -moz-animation-name: contagem1;
    -moz-animation-duration: 5s;
    -moz-animation-timing-function: ease-in-out;
    -moz-animation-delay: 0;
    -moz-animation-iteration-count: infinite;
    -moz-animation-direction: normal;
    -moz-animation-play-state: running;
    -moz-animation-fill-mode: forwards;
    -o-animation-name: contagem1;
    -o-animation-duration: 5s;
    -o-animation-timing-function: ease-in-out;
    -o-animation-delay: 0;
    -o-animation-iteration-count: infinite;
    -o-animation-direction: normal;
    -o-animation-play-state: running;
    -o-animation-fill-mode: forwards;
    animation-name: contagem1;
    animation-duration: 5s;
    animation-timing-function: ease-in-out;
    animation-delay: 0;
    animation-iteration-count: infinite;
    animation-direction: normal;
    animation-play-state: running;
    animation-fill-mode: forwards;
}

@-webkit-keyframes contagem1 {
    0% {
        top: 16.6666667%;
        left: 25%;
        width: 75%;
        height: 25%;
    }
    10% {
        top: 16.6666667%;
        left: 25%;
        width: 75%;
        height: 25%;
    }
    20% {
        top: 0%;
        left: 25%;
        width: 50%;
        height: 41.6666667%;
    }
    30% {
        top: 0%;
        left: 25%;
        width: 50%;
        height: 41.6666667%;
    }
    40% {
        top: 16.6666667%;
        left: 0%;
        width: 75%;
        height: 25%;
    }
    50% {
        top: 16.6666667%;
        left: 0%;
        width: 75%;
        height: 25%;
    }
    60% {
        top: 16.6666667%;
        left: 0%;
        width: 75%;
        height: 25%;
    }
    70% {
        top: 16.6666667%;
        left: 0%;
        width: 75%;
        height: 25%;
    }
    85% {
        top: 0%;
        left: 0%;
        width: 75%;
        height: 50%;
    }
    100% {
        top: 0%;
        left: 0%;
        width: 75%;
        height: 50%;
    }
}

@-moz-keyframes contagem1 {
    0% {
        top: 16.6666667%;
        left: 25%;
        width: 75%;
        height: 25%;
    }
    10% {
        top: 16.6666667%;
        left: 25%;
        width: 75%;
        height: 25%;
    }
    20% {
        top: 0%;
        left: 25%;
        width: 50%;
        height: 41.6666667%;
    }
    30% {
        top: 0%;
        left: 25%;
        width: 50%;
        height: 41.6666667%;
    }
    40% {
        top: 16.6666667%;
        left: 0%;
        width: 75%;
        height: 25%;
    }
    50% {
        top: 16.6666667%;
        left: 0%;
        width: 75%;
        height: 25%;
    }
    60% {
        top: 16.6666667%;
        left: 0%;
        width: 75%;
        height: 25%;
    }
    70% {
        top: 16.6666667%;
        left: 0%;
        width: 75%;
        height: 25%;
    }
    85% {
        top: 0%;
        left: 0%;
        width: 75%;
        height: 50%;
    }
    100% {
        top: 0%;
        left: 0%;
        width: 75%;
        height: 50%;
    }
}

@-o-keyframes contagem1 {
    0% {
        top: 16.6666667%;
        left: 25%;
        width: 75%;
        height: 25%;
    }
    10% {
        top: 16.6666667%;
        left: 25%;
        width: 75%;
        height: 25%;
    }
    20% {
        top: 0%;
        left: 25%;
        width: 50%;
        height: 41.6666667%;
    }
    30% {
        top: 0%;
        left: 25%;
        width: 50%;
        height: 41.6666667%;
    }
    40% {
        top: 16.6666667%;
        left: 0%;
        width: 75%;
        height: 25%;
    }
    50% {
        top: 16.6666667%;
        left: 0%;
        width: 75%;
        height: 25%;
    }
    60% {
        top: 16.6666667%;
        left: 0%;
        width: 75%;
        height: 25%;
    }
    70% {
        top: 16.6666667%;
        left: 0%;
        width: 75%;
        height: 25%;
    }
    85% {
        top: 0%;
        left: 0%;
        width: 75%;
        height: 50%;
    }
    100% {
        top: 0%;
        left: 0%;
        width: 75%;
        height: 50%;
    }
}

@keyframes contagem1 {
    0% {
        top: 16.6666667%;
        left: 25%;
        width: 75%;
        height: 25%;
    }
    10% {
        top: 16.6666667%;
        left: 25%;
        width: 75%;
        height: 25%;
    }
    20% {
        top: 0%;
        left: 25%;
        width: 50%;
        height: 41.6666667%;
    }
    30% {
        top: 0%;
        left: 25%;
        width: 50%;
        height: 41.6666667%;
    }
    40% {
        top: 16.6666667%;
        left: 0%;
        width: 75%;
        height: 25%;
    }
    50% {
        top: 16.6666667%;
        left: 0%;
        width: 75%;
        height: 25%;
    }
    60% {
        top: 16.6666667%;
        left: 0%;
        width: 75%;
        height: 25%;
    }
    70% {
        top: 16.6666667%;
        left: 0%;
        width: 75%;
        height: 25%;
    }
    85% {
        top: 0%;
        left: 0%;
        width: 75%;
        height: 50%;
    }
    100% {
        top: 0%;
        left: 0%;
        width: 75%;
        height: 50%;
    }
}

.numero_shape:after {
    content: " ";
    position: absolute;
    top: 58.3333333%;
    left: 25%;
    background-color: #4b6cb7;
    width: 50%;
    height: 33.3333334%;
    -webkit-animation-name: contagem2;
    -webkit-animation-duration: 5s;
    -webkit-animation-timing-function: ease-in-out;
    -webkit-animation-delay: 0;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-direction: normal;
    -webkit-animation-play-state: running;
    -webkit-animation-fill-mode: forwards;
    -moz-animation-name: contagem2;
    -moz-animation-duration: 5s;
    -moz-animation-timing-function: ease-in-out;
    -moz-animation-delay: 0;
    -moz-animation-iteration-count: infinite;
    -moz-animation-direction: normal;
    -moz-animation-play-state: running;
    -moz-animation-fill-mode: forwards;
    -o-animation-name: contagem2;
    -o-animation-duration: 5s;
    -o-animation-timing-function: ease-in-out;
    -o-animation-delay: 0;
    -o-animation-iteration-count: infinite;
    -o-animation-direction: normal;
    -o-animation-play-state: running;
    -o-animation-fill-mode: forwards;
    animation-name: contagem2;
    animation-duration: 5s;
    animation-timing-function: ease-in-out;
    animation-delay: 0;
    animation-iteration-count: infinite;
    animation-direction: normal;
    animation-play-state: running;
    animation-fill-mode: forwards;
}

@-webkit-keyframes contagem2 {
    0% {
        top: 58.3333333%;
        left: 0%;
        width: 75%;
        height: 25%;
    }
    10% {
        top: 58.3333333%;
        left: 0%;
        width: 75%;
        height: 25%;
    }
    20% {
        top: 58.3333333%;
        left: 0%;
        width: 75%;
        height: 41.6666667%;
    }
    30% {
        top: 58.3333333%;
        left: 0%;
        width: 75%;
        height: 41.6666667%;
    }
    40% {
        top: 58.3333333%;
        left: 0%;
        width: 75%;
        height: 25%;
    }
    50% {
        top: 58.3333333%;
        left: 0%;
        width: 75%;
        height: 25%;
    }
    50% {
        top: 58.3333333%;
        left: 25%;
        width: 75%;
        height: 25%;
    }
    70% {
        top: 58.3333333%;
        left: 25%;
        width: 75%;
        height: 25%;
    }
    85% {
        top: 50%;
        left: 0%;
        width: 75%;
        height: 50%;
    }
    100% {
        top: 50%;
        left: 0%;
        width: 75%;
        height: 50%;
    }
}

@-moz-keyframes contagem2 {
    0% {
        top: 58.3333333%;
        left: 0%;
        width: 75%;
        height: 25%;
    }
    10% {
        top: 58.3333333%;
        left: 0%;
        width: 75%;
        height: 25%;
    }
    20% {
        top: 58.3333333%;
        left: 0%;
        width: 75%;
        height: 41.6666667%;
    }
    30% {
        top: 58.3333333%;
        left: 0%;
        width: 75%;
        height: 41.6666667%;
    }
    40% {
        top: 58.3333333%;
        left: 0%;
        width: 75%;
        height: 25%;
    }
    50% {
        top: 58.3333333%;
        left: 0%;
        width: 75%;
        height: 25%;
    }
    50% {
        top: 58.3333333%;
        left: 25%;
        width: 75%;
        height: 25%;
    }
    70% {
        top: 58.3333333%;
        left: 25%;
        width: 75%;
        height: 25%;
    }
    85% {
        top: 50%;
        left: 0%;
        width: 75%;
        height: 50%;
    }
    100% {
        top: 50%;
        left: 0%;
        width: 75%;
        height: 50%;
    }
}

@-o-keyframes contagem2 {
    0% {
        top: 58.3333333%;
        left: 0%;
        width: 75%;
        height: 25%;
    }
    10% {
        top: 58.3333333%;
        left: 0%;
        width: 75%;
        height: 25%;
    }
    20% {
        top: 58.3333333%;
        left: 0%;
        width: 75%;
        height: 41.6666667%;
    }
    30% {
        top: 58.3333333%;
        left: 0%;
        width: 75%;
        height: 41.6666667%;
    }
    40% {
        top: 58.3333333%;
        left: 0%;
        width: 75%;
        height: 25%;
    }
    50% {
        top: 58.3333333%;
        left: 0%;
        width: 75%;
        height: 25%;
    }
    60% {
        top: 58.3333333%;
        left: 25%;
        width: 75%;
        height: 25%;
    }
    70% {
        top: 58.3333333%;
        left: 25%;
        width: 75%;
        height: 25%;
    }
    85% {
        top: 50%;
        left: 0%;
        width: 75%;
        height: 50%;
    }
    100% {
        top: 50%;
        left: 0%;
        width: 75%;
        height: 50%;
    }
}

@keyframes contagem2 {
    0% {
        top: 58.3333333%;
        left: 0%;
        width: 75%;
        height: 25%;
    }
    10% {
        top: 58.3333333%;
        left: 0%;
        width: 75%;
        height: 25%;
    }
    20% {
        top: 58.3333333%;
        left: 0%;
        width: 75%;
        height: 41.6666667%;
    }
    30% {
        top: 58.3333333%;
        left: 0%;
        width: 75%;
        height: 41.6666667%;
    }
    40% {
        top: 58.3333333%;
        left: 0%;
        width: 75%;
        height: 25%;
    }
    50% {
        top: 58.3333333%;
        left: 0%;
        width: 75%;
        height: 25%;
    }
    60% {
        top: 58.3333333%;
        left: 25%;
        width: 75%;
        height: 25%;
    }
    70% {
        top: 58.3333333%;
        left: 25%;
        width: 75%;
        height: 25%;
    }
    85% {
        top: 50%;
        left: 0%;
        width: 75%;
        height: 50%;
    }
    100% {
        top: 50%;
        left: 0%;
        width: 75%;
        height: 50%;
    }
}