body {
    margin: 20px;
    background: linear-gradient(rgba(218, 210, 153, 1), rgba(176, 218, 185, 1));
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

/*Header code: */
header {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;

    width: 100%;
}

/*For the EN button */
.login-header-en {
    display: flex;
    flex-direction: row;
    align-items: center;
    
    background-color: white;
    border: 3px solid rgba(76, 121, 60, 1);
    border-radius: 1rem;
    padding: 10px 20px 10px 15px;
    margin-left: 80px;

    height: 30px;
}

.login-header-en img {
    width: 20px;
    height: 20px;
    margin-right: 10px;
}

.login-header-en h1 {
    font-size: 20px;
}

/*For the Logo: */
.login-header-logo {
    background-color: white;
    border-radius: 50%;
    width: 200px;
    height: 125px;
    margin-left: -80px;
    
    display: flex;
    justify-content: center;
    align-items: center;
}


/*The content code: */

main {
    margin-top: 5%;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;
    align-items: flex-end;
}

.login-profile {
    background-color: rgba(165, 165, 165, 0.315);
    display:flex;
    flex-direction: column;

    border-radius: 0.5em;
}

/*For the ANONYMOUS & AUTHENTICATED */
.profile-top {
    display: flex;
    flex-direction: row;
    width: 500px;
    justify-content: space-between;
}

.profile-top div {
    margin: 0px 10px;
    display: flex;
    justify-content: center;
    width: 240px;
}

.profile-top div h1 {
    font-size: 20px;
}

/*The Login picture and the name input code: */

.profile-mid {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;

    padding: 50px 20px;
}

/*The profile picture code: */
.login-profile-pic {
    display: flex;
    justify-content: center;
    align-items: center;

    background-color: white;
    border-radius: 50%;
    width: fit-content;
    padding: 20px;
    margin-left: 25px;
}

.profile-pic img{
    width: 100px;
}

/*The input name code: */
.login-profile-name {
    width: 300px;

    display: flex;
    flex-flow: column nowrap;
    align-items: center;
}

.login-profile-name h1 {
    font-size: 25px;
    text-align: center;
}

.login-profile-name input {
    padding: 10px;
    text-align: center;
    border: 0px;
    border-radius: 0.5em;

    font-size: 17px;
}

::placeholder { /* For the placeholder color */
    color: black;
  }

.login-profile-name .name-button {
    background-color: aliceblue;
    border-radius: 0.5em;
    margin-top: 15px;

    padding: 10px 15px;

    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
}

.name-button img {
    width: 20px;
    height: fit-content;
    margin-right: 7.5px;
}

.name-button p {
    margin: 0px;
}

/*How to play code: */

.how-to-play {
    border: 2px solid rgba(76, 121, 60, 1);
    border-radius: 1em;
    padding: 15px;
    text-align: center;
}

.how-to-play h1 {
    font-size: 20px;
    margin: 0px 0px 10px 0px; /*I know you may think why not just use margin-bottom? well
                                I just do this to set the whole margin, because in flex every
                                element has auto margin (0.67 em) */
}

/*To arrange the < ANIMATION? > */

.how-to-play {
    padding: 10px 30px 35px 30px;
}

.how-to-play .htp-section {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
}

.how-to-play h1{
    font-size: 25px;
}

.htp-section h1 {
    font-size: 35px;
    font-weight: bolder;
}

/*The ANIMATION? Block code: */
.htp-section .section {
    padding: 45px 35px;
    margin: 10px 10px 0px 10px;

    background-color: white;
    border: 1px solid rgba(76, 121, 60, 1);
    border-radius: 0.5em;
    font-weight: bolder;

    font-size: 23px;
}

/*For the "1,calling is better"*/
.htp-section-2 {
    margin: 10px 0px 30px 0px;
}

.htp-section-2 h2, .htp-section-2 p {
    margin: 0px;
    font-size: 18px;
}