* {
    user-select: none;
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -o-user-select: none;
    text-decoration: none;
}

html {
    width: 100%;
    height: 100%;
    background: linear-gradient(rgba(218, 210, 153, 1), rgba(176, 218, 185, 1));
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

body {
    overflow: hidden;
    zoom: 1;
    -moz-transform: scale(1);
}

@media only screen and (max-width: 1500px) {
    body {
        overflow: hidden;
        zoom: 0.9;
        -moz-transform: scale(0.9);
    }
}

@media only screen and (max-width: 1200px) {
    body {
        overflow: hidden;
        zoom: 0.8;
        -moz-transform: scale(0.8);
    }
}

@media only screen and (max-width: 900px) {
    body {
        overflow: hidden;
        zoom: 0.7;
        -moz-transform: scale(0.7);
    }
}

@media only screen and (max-width: 700px) {
    body {
        overflow: hidden;
        zoom: 0.6;
        -moz-transform: scale(0.6);
    }
}

main {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    /*     border: 3px solid rgba(76, 121, 60, 1);
    border-radius: 1em; */
    margin: 10px;
    padding: 15px;
}

header {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    width: fit-content;
    height: fit-content;
    border-radius: 1.75em;
    background-color: rgba(131, 131, 131, 0.4000000059604645);
    padding: 0px 5%;
}

header img {
    width: "fit-content";
    height: 90px;
}

header h1 {
    vertical-align: middle;
    white-space: nowrap;
    min-width: 270px;
}

.drawer {
    background-color: white;
    border: 3px solid rgba(76, 121, 60, 1);
    border-radius: 2em;
    width: 65%;
    height: 480px;
}

.board {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    margin: 1% 0px 1% 0px;
}

.color-board {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: center;
    background-color: rgba(131, 131, 131, 0.4000000059604645);
    border-radius: 0.75em;
    width: 12%;
    padding: 10px 0px;
    height: 50%;
}

.color-board div {
    width: 40px;
    height: 40px;
    margin: 5px;
    border: 1.65px black solid;
    border-radius: 0.5em;
    /*background-color: white;*/
    box-shadow: 0px 2px 2px 1px rgba(0, 0, 0, 0.2);
}

.color-board div:hover {
    border: 1.65px white solid;
}

.color-board .picked-color {
    width: 85%;
}

.tool-board {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: center;
    background-color: rgba(131, 131, 131, 0.4000000059604645);
    border-radius: 0.75em;
    width: 135px;
    padding: 10px;
    height: fit-content;
}

.tool-board img {
    width: 40px;
    margin: 5px;
    padding: 5px;
    border: 3px white solid;
    border-radius: 0.5em;
    box-shadow: 0px 2px 2px 1px rgba(0, 0, 0, 0.2);
}

.reverse {
    transform: scaleX(-1);
}

.tool-board img:hover {
    border: 3px black solid;
}

.size-tool {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    height: 60px;
    width: 50%;
    zoom: 1.1;
    -moz-transform: scale(1.1);
    /* background-color: aliceblue; */
}

.size-input {
    background-color: rgba(131, 131, 131, 0.4000000059604645);
    border-radius: 0.75em;
    padding: 5px;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
}

.size-circle {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    border: 1px white solid;
    border-radius: 0.5em;
    padding: 5px;
    margin: 0px 5px;
}


/*The circle part*/

.circle1,
.circle {
    width: 25px;
    height: 25px;
    border: 2px white solid;
    border-radius: 50%;
    margin: 0px 5px;
    background-color: rgba(176, 218, 185, 1);
    display: flex;
    justify-content: center;
    align-items: center;
}

.circle1-size {
    background-color: white;
    border-radius: 50%;
    width: 4px;
    height: 4px;
}

.size-circle .circle2 {
    width: 25px;
    height: 25px;
    border: 2px white solid;
    border-radius: 50%;
    margin: 0px 5px;
    background-color: rgba(176, 218, 185, 1);
    display: flex;
    justify-content: center;
    align-items: center;
}

.circle2-size {
    background-color: white;
    border-radius: 50%;
    width: 8px;
    height: 8px;
}

.size-circle .circle3 {
    width: 25px;
    height: 25px;
    border: 2px white solid;
    border-radius: 50%;
    margin: 0px 5px;
    background-color: rgba(176, 218, 185, 1);
    display: flex;
    justify-content: center;
    align-items: center;
}

.circle3-size {
    background-color: white;
    border-radius: 50%;
    width: 12px;
    height: 12px;
}

.size-circle .circle4 {
    width: 25px;
    height: 25px;
    border: 2px white solid;
    border-radius: 50%;
    margin: 0px 5px;
    background-color: rgba(176, 218, 185, 1);
    display: flex;
    justify-content: center;
    align-items: center;
}

.circle4-size {
    background-color: white;
    border-radius: 50%;
    width: 16px;
    height: 16px;
}

.size-circle .circle5 {
    width: 25px;
    height: 25px;
    border: 2px white solid;
    border-radius: 50%;
    margin: 0px 5px;
    background-color: rgba(176, 218, 185, 1);
    display: flex;
    justify-content: center;
    align-items: center;
}

.circle5-size {
    background-color: white;
    border-radius: 50%;
    width: 20px;
    height: 20px;
}

.circle1:hover,
.circle2:hover,
.circle3:hover,
.circle4:hover,
.circle5:hover {
    background-color: black;
}

.size-circle .circleF {
    width: 25px;
    height: 25px;
    border: 2px white solid;
    border-radius: 50%;
    margin: 0px 5px;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.size-tool button {
    display: flex;
    align-items: center;
    background-color: white;
    padding: 5px 15px 5px 10px;
    margin: 5px;
    border: 2.5px solid rgba(76, 121, 60, 1);
    border-radius: 0.8em;
    box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.2);
    font-weight: 780;
    font-size: 20px;
}

.size-tool button img {
    width: fit-content;
    height: 35px;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
    input[type='range'] {
        overflow: hidden;
        -webkit-appearance: none;
        background-color: rgba(131, 131, 131, 0.4000000059604645);
    }
    input[type='range']::-webkit-slider-runnable-track {
        height: 10px;
        -webkit-appearance: none;
        color: #13bba4;
        margin-top: -1px;
    }
    input[type='range']::-webkit-slider-thumb {
        width: 10px;
        -webkit-appearance: none;
        height: 10px;
        background: rgba(176, 218, 185, 1);
        box-shadow: -80px 0 0 80px rgba(176, 218, 185, 1);
    }
}


/** FF*/

input[type="range"]::-moz-range-progress {
    background-color: rgba(176, 218, 185, 1);
}

input[type="range"]::-moz-range-track {
    background-color: rgba(131, 131, 131, 0.4000000059604645);
}


/* IE*/

input[type="range"]::-ms-fill-lower {
    background-color: rgba(176, 218, 185, 1);
}

input[type="range"]::-ms-fill-upper {
    background-color: rgba(131, 131, 131, 0.4000000059604645);
}


/* Prompt page */

.music-icon {
    width: 20%;
}

.music-icon img {
    width: 100%;
    height: 100%;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

.title {
    width: fit-content;
    height: fit-content;
}

#done {
    display: flex;
    align-items: center;
    background-color: white;
    padding: 5px 15px 5px 10px;
    margin: 5px;
    border: 2.5px solid rgba(76, 121, 60, 1);
    border-radius: 0.8em;
    box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.2);
    font-weight: 780;
    font-size: 20px;
}

#done img {
    width: fit-content;
    height: 35px;
}

.done-wrapper {
    width: fit-content;
    padding-left: 20px;
}

.text-field {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    border-radius: 1.75em;
    background-color: white;
    padding: 2%;
    width: 500px;
    height: 20px;
}

.text-field p {
    margin: 0%;
}

.input {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    padding-left: 181px;
}

/* Album Replay */
.album{
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    margin: 5% 0 5% 0;
}

.player-list{
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: center;
    background-color: rgba(131, 131, 131, 0.4000000059604645);
    border: 3px solid rgba(76, 121, 60, 1);
    border-radius: 0.5em;
    width: 18%;
    padding: 10px 0px;
    height: 500px;
    overflow-y: scroll;
}

.player-list div{
    display: flex;
    flex-flow: row wrap;
    width: 220px;
    height: 45px;
    margin: 10.5px;
    border: 3px solid transparent;
    border-radius: 1.25em;
    background-color: white;
    box-shadow: 0px 2px 2px 1px rgba(0, 0, 0, 0.2);
}

.player-list div:hover{
    border: 3px solid black;
}


.player-list img {
    margin-left: 5px;
    width: 55px;
    border-radius: 50%;
}

.player-list h2{
    color:black;
    font-size: 15pt;
    margin: 5%;
    padding: 0 0 0 5%;  
}

.player-list::-webkit-scrollbar {
    width: 7px;
    background: transparent;
    border-radius: 0.5em;
}

.player-list::-webkit-scrollbar-thumb {
    background: #ffffff;
    border-radius: 0.5em;
    background-clip: padding-box;
}
  
.album-replay {
    background-color: rgba(131, 131, 131, 0.4000000059604645);
    border: 3px solid rgba(76, 121, 60, 1);
    border-radius: 0.5em;
    width: 70%;
    height: 520px;
}

.replay {
    background-color: transparent;
    border-radius: 0.5em;
    width: 90%;
    height: 70%;
    margin: 50px 50px 0 50px;
    box-shadow: 0px 2px 2px 1px rgba(0, 0, 0, 0.2);
}

.replay-control {
    display: flex;
    flex-flow: row wrap;
    width: 50%;
    height: 15%;
    margin: 10px 25% 10px 25%;
}

.replay-control button{
    display: flex;
    align-items: center;
    margin: 15px;
    background-color: #ffffff;
    border: 1px solid transparent;
    border-radius: 0.8em;
    box-shadow: 0px 2px 2px 1px rgba(0, 0, 0, 0.2);
    font-weight: 780;
    font-size: 20px;
}

.replay-control button:hover{
    border: 3px solid #000000;
}

.back-button,
.next-button {
    justify-content: space-evenly;
    width: 180px;
    height: 50px;
}

.replay-button {
    padding: 10.5px;
    width: 60px;
    height: 50px;  
}

.replay-control img {
    width: fit-content;
    height: 35px;
}
